a {
  color: #e79d35;
  text-decoration: none; }

.nav-link {
  color: #4e120a; }

h3 {
  font-family: 'Ultra', serif;
  color: #4e120a;
  font-size: 25px;
  padding: 1em; }

h5 {
  font-family: 'Ultra', serif;
  color: #4e120a; }

.header {
  background-color: #CFD586;
  position: relative; }

.navbar-toggler {
  padding: 0.20rem 0.70rem;
  font-size: 1rem; }

.bg-light {
  --bs-bg-opacity: 0.3; }

.dropdown-menu.show {
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(0.29688px, 42px, 0px); }

.marca {
  font-family: 'Ultra', serif;
  color: #4e120a;
  font-size: 40px; }

.top-nav {
  background-color: #999c37; }

.barraNav {
  background-color: #CFD586; }

.icon {
  height: 20px; }

.card {
  align-items: center; }

.card-img-top {
  width: 90%;
  border: 2px;
  padding: 1rem 1rem; }

.boton-card {
  text-align: center; }

.btn {
  color: black;
  background-color: #e79d35;
  border-color: #e79d35; }
  .btn :hover {
    transform: scale(1.05);
    transition: all 0.25s; }

footer {
  background-color: #CFD586; }
